/.tools/
/bin/
/dist/
/frontend/node_modules/
/frontend/dist/*
!/frontend/dist/.gitkeep
/frontend/bindings/
/frontend/src/routeTree.gen.ts
/frontend/playwright-report/
/frontend/test-results/
/frontend/coverage/
*.syso
*.log
*.private-key
/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
/.test-data/
/.release-test/

build/windows/nsis/app.nsh
